# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

__Objectives:__

* List popular languages for Data Science.
* List commonly used libraries in Data Science
* List Data Science tool Open source

Some of the popular languages that Data Scientists use are:

1. Python
2. R
3. Ruby

Some of the commonly used libraries used by Data Scientists include:

1. dplyr
2. stringr
3. ggplot

| Data Science Tools. |
| ---- |
| Jupyter Notebook |
| Vs Code |
| RStudio |

### Below are a few examples of evaluating arithmetic expressions in Python.

In [2]:
#This a simple arithmetic expression to mutiply then add integers.

(3*4)+5

17

In [3]:
#This will convert 200 minutes to hours by diving by 60.

200/60

3.3333333333333335

## Author

Jose Hidalgo